# Merge de datasets de validação

In [1]:
import pandas as pd

## Tratamento dados para Braga

In [2]:
# Read the dataset from the file
df_pm10 = pd.read_csv('datasets/validation_data/braga_data_pm10_val.csv')

# Add latitude and longitude columns
df_pm10['latitude'] = 41.5549
df_pm10['longitude'] = -8.4067

# Save the updated dataset back to the file
df_pm10.to_csv('datasets/validation_data/braga_data_pm10_val_complete.csv', index=False)

# Print the first 5 rows of the dataset

df_pm10.head()

,date,min,max,median,q1,q3,stdev,count,latitude,longitude
0,2023-05-01T00:00:00.000Z,2.58,6.57,3.72,0.831,NaN,NaN,NaN,41.5549,-8.4067
1,2023-05-01T01:00:00.000Z,2.60,7.43,4.30,1.305,NaN,NaN,NaN,41.5549,-8.4067
2,2023-05-01T02:00:00.000Z,3.45,11.95,5.21,1.839,NaN,NaN,NaN,41.5549,-8.4067
3,2023-05-01T03:00:00.000Z,2.52,8.68,4.84,1.548,NaN,NaN,NaN,41.5549,-8.4067
4,2023-05-01T04:00:00.000Z,2.67,8.73,4.53,1.351,NaN,NaN,NaN,41.5549,-8.4067

In [3]:
df_pm25 = pd.read_csv('datasets/validation_data/braga_data_pm25_val.csv')

df_pm25['latitude'] = 41.5549
df_pm25['longitude'] = -8.4067

df_pm25.to_csv('datasets/validation_data/braga_data_pm25_val_complete.csv', index=False)

df_pm25.head()

,date,min,max,median,q1,q3,stdev,count,latitude,longitude
0,2023-05-01T00:00:00.000Z,1.42,2.67,1.79,0.281,NaN,NaN,NaN,41.5549,-8.4067
1,2023-05-01T01:00:00.000Z,1.48,2.45,2.04,0.289,NaN,NaN,NaN,41.5549,-8.4067
2,2023-05-01T02:00:00.000Z,1.58,3.30,2.58,0.485,NaN,NaN,NaN,41.5549,-8.4067
3,2023-05-01T03:00:00.000Z,1.67,3.20,2.57,0.377,NaN,NaN,NaN,41.5549,-8.4067
4,2023-05-01T04:00:00.000Z,1.85,3.45,2.38,0.337,NaN,NaN,NaN,41.5549,-8.4067

In [4]:
# Select only the columns we need

df_updated = df_pm10[['date', 'latitude', 'longitude', 'median']]

df_updated.columns = ['date', 'latitude', 'longitude', 'pm10']

df_updated.head()

df_updated.to_csv('datasets/validation_data/braga_data_pm10_val_complete.csv', index=False)

df_updated = df_pm25[['date', 'latitude', 'longitude', 'median']]

df_updated.columns = ['date', 'latitude', 'longitude', 'pm25']

df_updated.head()

df_updated.to_csv('datasets/validation_data/braga_data_pm25_val_complete.csv', index=False)

In [5]:
# Merge the two datasets into one

df_pm10 = pd.read_csv('datasets/validation_data/braga_data_pm10_val_complete.csv')
df_pm25 = pd.read_csv('datasets/validation_data/braga_data_pm25_val_complete.csv')

df_merged = pd.merge(df_pm10, df_pm25, on=['date', 'latitude', 'longitude'])

df_merged.head()

df_merged.to_csv('datasets/validation_data/braga_41.5549_-8.4067_val.csv', index=False)

## Tratamento dados Ponte de Lima

In [6]:
df_pm1 = pd.read_csv('datasets/validation_data/braga_ponte_lima_pm1_val.csv')
df_pm10 = pd.read_csv('datasets/validation_data/braga_ponte_lima_pm10_val.csv')
df_pm25 = pd.read_csv('datasets/validation_data/braga_ponte_lima_pm25_val.csv')

# Add latitude and longitude columns

# Select only the columns we need

df_pm1 = df_pm1[['date', 'median']]
df_pm10 = df_pm10[['date', 'median']]
df_pm25 = df_pm25[['date', 'median']]

# Rename the columns

df_pm1.columns = ['date', 'pm1']
df_pm10.columns = ['date', 'pm10']
df_pm25.columns = ['date', 'pm25']

# Add latitude and longitude columns

df_pm1['latitude'] = 41.653315
df_pm1['longitude'] = -8.587790

df_pm10['latitude'] = 41.653315
df_pm10['longitude'] = -8.587790

df_pm25['latitude'] = 41.653315
df_pm25['longitude'] = -8.587790

# Merge the three datasets into one

df_merged = pd.merge(df_pm1, df_pm10, on=['date', 'latitude', 'longitude'])
df_merged = pd.merge(df_merged, df_pm25, on=['date', 'latitude', 'longitude'])

df_merged.head()

df_merged.to_csv('datasets/validation_data/ponte_lima_41.7675_-8.5823_val.csv', index=False)

# Tratamento de Dados do OpenAQ para Braga

In [9]:
# get data from OpenAQ
import requests
import time

location_id = "7191"
city = "Braga"

# change date_from and date_to to get different time periods
# query for 2015-2018 and 2018-2020 and 2020-2023, separated because of the large amount of data
# in case of 'connection timeout' error, try again with a smaller time period or query for a single period istead of 3

url = f"https://api.openaq.org/v2/measurements?format=csv&date_from=2023-05-01&date_to=2023-05-12&limit=100000&page=1&offset=0&sort=desc&radius=1000&country_id=PT&country=PT&city={city}&location_id={location_id}&order_by=datetime"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

with open(f"{city}_{location_id}_2023.csv", "w") as f:
    f.write(response.text)

time.sleep(2)

with open(f"datasets/validation_data/{city}_{location_id}_2020_2023.csv", "w") as f:
    f.write(response.text)

In [10]:
## Não há dados para este período

# Merge Datasets into one

In [12]:
df_braga = pd.read_csv('datasets/validation_data/braga_41.5549_-8.4067_val.csv')

In [13]:
df_ponlim = pd.read_csv('datasets/validation_data/ponte_lima_41.7675_-8.5823_val.csv')

In [15]:
# Merge the datasets

df_final = df_braga.append(df_braga)

df_final = df_final.append(df_ponlim)

df_final.head()

# to csv 

df_final.to_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_val.csv', index=False)

/tmp/ipykernel_47915/1015182262.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_braga.append(df_braga)
/tmp/ipykernel_47915/1015182262.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_final.append(df_ponlim)

In [16]:
# Split the df_final date column into two columns: date and time

df_final = pd.read_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_val.csv')

df_final['date'] = pd.to_datetime(df_final['date'])

# Create a new 'date_only' column
df_final['date_only'] = df_final['date'].dt.date

# Create a new 'time' column
df_final['time'] = df_final['date'].dt.time

# You can drop the original 'date' column if you want
df_final = df_final.drop(columns='date')

df_final.head()

df_final.to_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_val.csv', index=False)

In [70]:
# Merge the datasets meteo.csv and FINALDATASET_v2.csv based on date and latitude and longitude

df_meteo = pd.read_csv('datasets/validation_data/Braga_2023-05-01_to _2023-05-12_meteo_val.csv')

df_total = pd.read_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_val.csv')

In [74]:
# find the common dates between the two datasets
# meteo dataset has datetime as '2023-05-01T00:00:00'

df_meteo['datetime'] = pd.to_datetime(df_meteo['datetime'], format='%Y-%m-%dT%H:%M:%S')
df_total['date_only'] = pd.to_datetime(df_total['date_only'])

dates1 = set(df_meteo['datetime'])
dates2 = set(df_total['date_only'])

# Find the common dates
common_dates = dates1.intersection(dates2)

print(len(common_dates))

12

In [75]:
# merge date_only and time columns into one column datetime

df_total['datetime'] = pd.to_datetime(df_total['date_only'].astype(str) + ' ' + df_total['time'].astype(str))

# drop the date_only and time columns

df_total = df_total.drop(columns=['date_only', 'time'])


df_total.head()

   latitude  longitude  pm10  pm25  pm1            datetime
0   41.5549    -8.4067  3.72  1.79  NaN 2023-05-01 00:00:00
1   41.5549    -8.4067  4.30  2.04  NaN 2023-05-01 01:00:00
2   41.5549    -8.4067  5.21  2.58  NaN 2023-05-01 02:00:00
3   41.5549    -8.4067  4.84  2.57  NaN 2023-05-01 03:00:00
4   41.5549    -8.4067  4.53  2.38  NaN 2023-05-01 04:00:00

[5 rows x 6 columns]

In [76]:
# Merge the datasets on datetime (if they do not exist put null values)
# Only want to keep the rows that are in both datasets

# drop duplicates in df_meteo and df_total
df_meteo = df_meteo.drop_duplicates(subset=['datetime'])
df_total = df_total.drop_duplicates(subset=['datetime'])

# merge the two datasets
df_final = pd.merge(df_total, df_meteo, how='inner', on='datetime')

df_final.to_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_merged_val.csv', index=False)

In [77]:
# For the dataset final, if the day is the same the atributes tempmax,tempmin,temp,feelslike,dew,humidity,severerisk,precip,snow,windspeed,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex are the same

df = pd.read_csv('datasets/validation_data/datasetsfinal/dataset_final_braga_ponte_lima_merged_val.csv')

# Combine 'date' and 'time' into a single datetime column to ensure the filling happens in chronological order
df = df.sort_values('datetime')


# List of columns to fill
columns_to_fill = ['temp', 'feelslike', 'dew', 'humidity', 'severerisk', 
                   'precip', 'snow', 'windspeed', 'sealevelpressure', 'cloudcover', 'visibility', 
                   'solarradiation', 'solarenergy', 'uvindex']

# Apply forward fill
for col in columns_to_fill:
    df[col] = df[col].fillna(method='ffill')

# You can also backward fill for any remaining nulls if needed
for col in columns_to_fill:
    df[col] = df[col].fillna(method='bfill')


df.to_csv('datasets/validation_data/datasetsfinal/FINALDATASET.csv', index=False)

# Calculate Target variable

In [79]:
# calculate AQI for each row
def calculateAQI(data):

    # define breakpoints
    breakpoints = [
        {
            "pollutant": "no2",
            "conc": [0, 50, 100, 200, 400, 1000],
            "aqi": [0, 50, 100, 150, 200, 300, 400],
        },
        {
            "pollutant": "pm10",
            "conc": [0, 20, 40, 70, 100, 200],
            "aqi": [0, 50, 100, 150, 200, 300, 400],
        },
        {
            "pollutant": "pm25",
            "conc": [0, 12, 35.4, 55.4, 150.4, 250.4],
            "aqi": [0, 50, 100, 150, 200, 300, 400],
        },
        {
            "pollutant": "pm1",
            "conc": [0, 12, 35.4, 55.4, 150.4, 250.4],
            "aqi": [0, 50, 100, 150, 200, 300, 400],
        }
    ]

    # calculate AQI for each pollutant
    def aqiForConcentration(pollutant, conc):
        bp = next(bp for bp in breakpoints if bp["pollutant"] == pollutant)
        i = next((i for i, c in enumerate(bp["conc"]) if c > conc), len(bp["conc"]) - 1)
        cLow = bp["conc"][i]
        cHigh = bp["conc"][i] if i == len(bp["conc"]) - 1 else bp["conc"][i + 1]
        aqiLow = bp["aqi"][i]
        aqiHigh = bp["aqi"][i] if i == len(bp["conc"]) - 1 else bp["aqi"][i + 1]    
        if cHigh == cLow:  # Avoid ZeroDivisionError
            return aqiHigh  # or aqiLow, they should be equal in this case
        else:
            return round(((aqiHigh - aqiLow) / (cHigh - cLow)) * (conc - cLow) + aqiLow)

    # calculate AQI for each row
    for index, row in data.iterrows():
        aqi = None
        for pollutant in ["pm10", "pm1", "pm25"]:
            if row[pollutant] is not None:
                aqi = aqiForConcentration(pollutant, row[pollutant])
                break
        data.at[index, "AQI"] = aqi
    
    return data

# calculate AQI for each row

df = calculateAQI(df)

df.head()

df.to_csv('datasets/validation_data/datasetsfinal/dataset_final_val.csv', index=False)