In [2]:
import pandas as pd

## Tratamento dados Braga

In [3]:
# # Read the dataset from the file
# df_pm10 = pd.read_csv('datasets/braga_data_pm10.csv')
# 
# # Add latitude and longitude columns
# df_pm10['latitude'] = 41.5549
# df_pm10['longitude'] = -8.4067
# 
# # Save the updated dataset back to the file
# df_pm10.to_csv('datasets/braga_data_pm10_complete.csv', index=False)
# 
# # Print the first 5 rows of the dataset
# 
# df_pm10.head()

In [4]:
# df_pm25 = pd.read_csv('datasets/braga_data_pm25.csv')
# 
# df_pm25['latitude'] = 41.5549
# df_pm25['longitude'] = -8.4067
# 
# df_pm25.to_csv('datasets/braga_data_pm25_complete.csv', index=False)
# 
# df_pm25.head()

In [5]:
# Select only the columns we need

# df_updated = df_pm10[['date', 'latitude', 'longitude', 'median']]
# 
# df_updated.columns = ['date', 'latitude', 'longitude', 'pm10']
# 
# df_updated.head()
# 
# df_updated.to_csv('datasets/braga_data_pm10_complete.csv', index=False)
# 
# df_updated = df_pm25[['date', 'latitude', 'longitude', 'median']]
# 
# df_updated.columns = ['date', 'latitude', 'longitude', 'pm25']
# 
# df_updated.head()
# 
# df_updated.to_csv('datasets/braga_data_pm25_complete.csv', index=False)

In [42]:
# Merge the two datasets into one

# df_pm10 = pd.read_csv('datasets/braga_data_pm10_complete.csv')
# df_pm25 = pd.read_csv('datasets/braga_data_pm25_complete.csv')
# 
# df_merged = pd.merge(df_pm10, df_pm25, on=['date', 'latitude', 'longitude'])
# 
# df_merged.head()
# 
# df_merged.to_csv('datasets/braga_41.5549_-8.4067.csv', index=False)

## Tratamento dados Ponte de Lima

In [7]:
# df_pm1 = pd.read_csv('datasets/ponte_lima_data_pm1.csv')
# df_pm10 = pd.read_csv('datasets/ponte_lima_data_pm10.csv')
# df_pm25 = pd.read_csv('datasets/ponte_lima_data_pm25.csv')
# 
# # Add latitude and longitude columns
# 
# # Select only the columns we need
# 
# df_pm1 = df_pm1[['date', 'median']]
# df_pm10 = df_pm10[['date', 'median']]
# df_pm25 = df_pm25[['date', 'median']]
# 
# # Rename the columns
# 
# df_pm1.columns = ['date', 'pm1']
# df_pm10.columns = ['date', 'pm10']
# df_pm25.columns = ['date', 'pm25']
# 
# # Add latitude and longitude columns
# 
# df_pm1['latitude'] = 41.653315
# df_pm1['longitude'] = -8.587790
# 
# df_pm10['latitude'] = 41.653315
# df_pm10['longitude'] = -8.587790
# 
# df_pm25['latitude'] = 41.653315
# df_pm25['longitude'] = -8.587790
# 
# # Merge the three datasets into one
# 
# df_merged = pd.merge(df_pm1, df_pm10, on=['date', 'latitude', 'longitude'])
# df_merged = pd.merge(df_merged, df_pm25, on=['date', 'latitude', 'longitude'])
# 
# df_merged.head()
# 
# df_merged.to_csv('datasets/ponte_lima_41.7675_-8.5823.csv', index=False)

## Tratamento de dados Vila Verde

In [8]:
# df1 = pd.read_csv('datasets/datavilaverdepm1.csv')
# df2 = pd.read_csv('datasets/datavilaverdepm25.csv')
# 
# # Select only the columns we need
# 
# df1 = df1[['date', 'median']]
# df2 = df2[['date', 'median']]
# 
# # Rename the columns
# 
# df1.columns = ['date', 'pm1']
# df2.columns = ['date', 'pm25']
# 
# # Add latitude and longitude columns
# 
# df1['latitude'] = 41.650791
# df1['longitude'] = -8.435690
# 
# 
# df2['latitude'] = 41.650791
# df2['longitude'] = -8.435690
# 
# # Merge the two datasets into one
# 
# df_merged = pd.merge(df1, df2, on=['date', 'latitude', 'longitude'])
# 
# df_merged.head()
# 
# df_merged.to_csv('datasets/vila_verde_41.650791_-8.435690.csv', index=False)

In [71]:
# Change the dataset to have a column called parameter and have pm1, pm10 and pm25 as values and its value in another column

# df = pd.read_csv('datasets/datasetsfinal/braga_41.5549_-8.4067.csv')
# 
# df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')
# 
# df.to_csv('datasets/datasetsfinal/teste1.csv', index=False)
# 
# df = pd.read_csv('datasets/datasetsfinal/ponte_lima_41.7675_-8.5823.csv')
# 
# df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')
# 
# df.to_csv('datasets/datasetsfinal/teste2.csv', index=False)
# 
# df = pd.read_csv('datasets/datasetsfinal/vila_verde_41.650791_-8.435690.csv')
# 
# df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')
# 
# df.to_csv('datasets/datasetsfinal/teste3.csv', index=False)
# 
# df = pd.read_csv('datasets/datasetsfinal/teste1.csv')
# 
# df = df.append(pd.read_csv('datasets/datasetsfinal/teste2.csv'))
# 
# df = df.append(pd.read_csv('datasets/datasetsfinal/teste3.csv'))
# 
# df.to_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv', index=False)
# 
# df = pd.read_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv')
# 
# df.head()
# 
# # Put the df into a csv
# 
# df.to_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv', index=False)

## Tratamento Dataset Braga v2.

In [9]:
# # Read the dataset from the file
# 
# df_braga = pd.read_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv')
# 
# # Select only the columns we need
# 
# df_braga = df_braga[['utc', 'parameter', 'value', 'longitude', 'latitude']]
# 
# # Rename the columns
# 
# df_braga.columns = ['date', 'parameter', 'value', 'longitude', 'latitude']
# 
# # Change the date format
# 
# df_braga['date'] = pd.to_datetime(df_braga['date'])
# 
# df_braga.head()
# 
# # Put the df into a csv
# 
# df_braga.to_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv', index=False)

# Merge Datasets

In [10]:
# # Merge the datasets
# 
# df_braga = pd.read_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv')
# 
# df_total = pd.read_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv')
# 
# df_final = df_total.append(df_braga)
# 
# df_final.head()
# 
# df_final.to_csv('datasets/datasetsfinal/FINAL.csv', index=False)

In [11]:
# import random
# 
# df_meteo = pd.read_csv('datasets/datasetsfinal/Bragatempo.csv')
# 
# # Select only the columns we need
# 
# df_meteo = df_meteo[['datetime', 'tempmax', 'tempmin', 'temp', 'feelslike', 'dew', 'humidity', 'severerisk', 'precip', 'snow', 'windspeed', 'sealevelpressure' ,'cloudcover' , 'visibility' , 'solarradiation' , 'solarenergy' ,'uvindex' ]]
# 
# # Rename the column datetime to date
# 
# df_meteo.columns = ['date', 'tempmax', 'tempmin', 'temp', 'feelslike', 'dew', 'humidity', 'severerisk', 'precip', 'snow', 'windspeed', 'sealevelpressure' ,'cloudcover' , 'visibility' , 'solarradiation' , 'solarenergy' ,'uvindex' ]
# 
# # Add the latitude and longitude columns and fill them with the values randomized from the pair of coordinates [41.5549,-8.4067], [41.653315,-8.58779], [41.449721999999994,-8.296389], [41.650791,-8.43569]
# 
# coordinates = [[41.5549, -8.4067], [41.653315, -8.58779], [41.449721999999994, -8.296389], [41.650791, -8.43569]]
# 
# df_meteo['latitude'] = [random.choice(coordinates)[0] for _ in range(len(df_meteo))]
# df_meteo['longitude'] = [random.choice(coordinates)[1] for _ in range(len(df_meteo))]
# 
# df_meteo.head()
# 
# df_meteo.to_csv('datasets/datasetsfinal/meteo.csv', index=False)

In [23]:
# # Merge the dataset braga_ponte_lima_vila_verde.csv with the dataset meteo.csv
# 
# df_meteo = pd.read_csv('datasets/datasetsfinal/meteo.csv')
# 
# df_total = pd.read_csv('datasets/FINALDATASET.csv')
# 
# dates1 = set(df_meteo['date'])
# dates2 = set(df_total['date'])
# 
# # Find the common dates
# common_dates = dates1.intersection(dates2)
# 
# # Filter the datasets by the common dates
# 
# df_meteo = df_meteo[df_meteo['date'].isin(common_dates)]
# df_total = df_total[df_total['date'].isin(common_dates)]
# 
# # Merge the datasets
# 
# df_final = pd.merge(df_total, df_meteo, on=['date', 'latitude', 'longitude'])
# 
# df_final.head()
# 
# df_final.shape
# 
# df_final.to_csv('datasets/datasetsfinal/FINALDATASETmerged.csv', index=False)

# Novo merge de dados

In [32]:
df_braga = pd.read_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv')

df_braga.head()

                        date parameter  value  longitude   latitude
0  2023-01-01 00:00:00+00:00       no2   19.8  -8.296389  41.449722
1  2022-12-31 23:00:00+00:00       no2   19.6  -8.296389  41.449722
2  2022-12-31 22:00:00+00:00       no2   23.9  -8.296389  41.449722
3  2022-12-31 21:00:00+00:00       no2   31.7  -8.296389  41.449722
4  2022-12-31 20:00:00+00:00       no2   40.2  -8.296389  41.449722

In [33]:
# pivot the dataframe
df_pivot = df_braga.pivot(index=['date', 'longitude', 'latitude'], columns='parameter', values='value')

# reset the index to make date, longitude and latitude normal columns
df_pivot.reset_index(inplace=True)

# write the pivot dataframe to a new csv file
df_pivot.to_csv('datasets/datasetsfinal/output_file.csv', index=False)

In [35]:
df_braga = pd.read_csv('datasets/datasetsfinal/output_file.csv')

df_braga.head()

                        date  longitude   latitude   no2  pm10
0  2020-01-01 00:00:00+00:00  -8.296389  41.449722  32.9  15.0
1  2020-01-01 01:00:00+00:00  -8.296389  41.449722  34.1  15.0
2  2020-01-01 02:00:00+00:00  -8.296389  41.449722  45.2  15.0
3  2020-01-01 03:00:00+00:00  -8.296389  41.449722  44.3   NaN
4  2020-01-01 04:00:00+00:00  -8.296389  41.449722  34.1   NaN

In [13]:
df_braga_2 = pd.read_csv('datasets/datasetsfinal/braga_41.5549_-8.4067.csv')

df_braga_2.head()

                       date  latitude  longitude  pm10  pm25
0  2020-10-06T00:00:00.000Z   41.5549    -8.4067  2.92  1.60
1  2020-10-21T00:00:00.000Z   41.5549    -8.4067  4.94  1.12
2  2020-11-05T00:00:00.000Z   41.5549    -8.4067  2.57  1.00
3  2020-11-06T00:00:00.000Z   41.5549    -8.4067  7.73  3.50
4  2020-11-07T00:00:00.000Z   41.5549    -8.4067  5.74  2.00

In [14]:
df_vv = pd.read_csv('datasets/datasetsfinal/vila_verde_41.650791_-8.435690.csv')

df_vv.head()

                       date   pm1   latitude  longitude  pm25
0  2021-09-07T00:00:00.000Z  3.35  41.650791   -8.43569  3.35
1  2021-09-08T00:00:00.000Z  3.65  41.650791   -8.43569  3.65
2  2021-09-09T00:00:00.000Z  5.43  41.650791   -8.43569  5.43
3  2021-09-10T00:00:00.000Z  3.13  41.650791   -8.43569  3.13
4  2021-09-11T00:00:00.000Z  3.15  41.650791   -8.43569  3.15

In [17]:
df_ponlim = pd.read_csv('datasets/datasetsfinal/ponte_lima_41.7675_-8.5823.csv')

df_ponlim.head()

                       date   pm1   latitude  longitude      pm10   pm25
0  2022-05-28T00:00:00.000Z  1.00  41.653315   -8.58779  138074.0   1.90
1  2022-05-29T00:00:00.000Z  5.55  41.653315   -8.58779       7.1  10.35
2  2022-05-30T00:00:00.000Z  6.70  41.653315   -8.58779      16.4  14.50
3  2022-05-31T00:00:00.000Z  5.70  41.653315   -8.58779      12.0  10.85
4  2022-06-01T00:00:00.000Z  0.80  41.653315   -8.58779       2.2   1.60

In [58]:
# Merge the datasets

df_final = df_braga.append(df_braga_2)

df_final = df_final.append(df_vv)

df_final = df_final.append(df_ponlim)

df_final.head()

# to csv 

df_final.to_csv('datasets/datasetsfinal/FINALDATASET_v2.csv', index=False)

In [71]:
# Split the df_final date column into two columns: date and time

df_final = pd.read_csv('datasets/datasetsfinal/FINALDATASET_v2.csv')

df_final['date'] = pd.to_datetime(df_final['date'])

# Create a new 'date_only' column
df_final['date_only'] = df_final['date'].dt.date

# Create a new 'time' column
df_final['time'] = df_final['date'].dt.time

# You can drop the original 'date' column if you want
df_final = df_final.drop(columns='date')

df_final.head()

df_final.to_csv('datasets/datasetsfinal/FINALDATASET_v2.csv', index=False)

In [75]:
# Merge the datasets meteo.csv and FINALDATASET_v2.csv based on date and latitude and longitude

df_meteo = pd.read_csv('datasets/datasetsfinal/meteo.csv')

df_total = pd.read_csv('datasets/datasetsfinal/FINALDATASET_v2.csv')

dates1 = set(df_meteo['date'])
dates2 = set(df_total['date_only'])

# Find the common dates
common_dates = dates1.intersection(dates2)

print(len(common_dates))

919

In [79]:
# Filter the datasets by the common dates

df_meteo = df_meteo[df_meteo['date'].isin(common_dates)]

df_total = df_total[df_total['date_only'].isin(common_dates)]

(18331, 8)

In [87]:
# Rename the column date_only to date to be able to merge the datasets

df_total.columns = ['longitude','latitude','no2','pm10','pm25','pm1','date','time']

# Merge the datasets on date but keep all hours of the day (if they do not exist put null values)

df_final = pd.merge(df_total, df_meteo, on=['date', 'latitude', 'longitude'], how='outer')

df_final.head()

df_final.to_csv('datasets/datasetsfinal/FINALDATASETmerged_v2.csv', index=False)

In [88]:
# For the dataset final, if the day is the same the atributes tempmax,tempmin,temp,feelslike,dew,humidity,severerisk,precip,snow,windspeed,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex are the same

df = pd.read_csv('datasets/datasetsfinal/FINALDATASETmerged_v2.csv')

# Combine 'date' and 'time' into a single datetime column to ensure the filling happens in chronological order
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])
df = df.sort_values('datetime')

# List of columns to fill
columns_to_fill = ['tempmax', 'tempmin', 'temp', 'feelslike', 'dew', 'humidity', 'severerisk', 
                   'precip', 'snow', 'windspeed', 'sealevelpressure', 'cloudcover', 'visibility', 
                   'solarradiation', 'solarenergy', 'uvindex']

# Apply forward fill
for col in columns_to_fill:
    df[col] = df[col].fillna(method='ffill')

# You can also backward fill for any remaining nulls if needed
for col in columns_to_fill:
    df[col] = df[col].fillna(method='bfill')

# Separate the 'datetime' column back into 'date' and 'time' columns

df['date'] = df['datetime'].dt.date

df['time'] = df['datetime'].dt.time

# Drop the 'datetime' column

df = df.drop(columns='datetime')

# Transform the date column to datetime

df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

# Do the same with the time column

df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')

df.head()

df.to_csv('datasets/FINALDATASET.csv', index=False)