In [2]:
import pandas as pd

## Tratamento dados Braga

In [35]:
# Read the dataset from the file
df_pm10 = pd.read_csv('datasets/braga_data_pm10.csv')

# Add latitude and longitude columns
df_pm10['latitude'] = 41.5549
df_pm10['longitude'] = -8.4067

# Save the updated dataset back to the file
df_pm10.to_csv('datasets/braga_data_pm10_complete.csv', index=False)

# Print the first 5 rows of the dataset

df_pm10.head()

,date,min,max,median,q1,q3,stdev,count,latitude,longitude
0,2020-10-06T00:00:00.000Z,2.92,2.92,2.92,2.92,2.92,0.000,1,41.5549,-8.4067
1,2020-10-21T00:00:00.000Z,2.90,7.97,4.94,3.75,6.63,1.825,4,41.5549,-8.4067
2,2020-11-05T00:00:00.000Z,0.60,9.44,2.57,1.88,3.83,1.779,91,41.5549,-8.4067
3,2020-11-06T00:00:00.000Z,0.20,22.87,7.73,2.68,10.77,4.815,329,41.5549,-8.4067
4,2020-11-07T00:00:00.000Z,1.27,12.87,5.74,3.77,7.97,2.569,382,41.5549,-8.4067

In [36]:
df_pm25 = pd.read_csv('datasets/braga_data_pm25.csv')

df_pm25['latitude'] = 41.5549
df_pm25['longitude'] = -8.4067

df_pm25.to_csv('datasets/braga_data_pm25_complete.csv', index=False)

df_pm25.head()

,date,min,max,median,q1,q3,stdev,count,latitude,longitude
0,2020-10-06T00:00:00.000Z,1.60,1.60,1.60,1.60,1.60,0.000,1,41.5549,-8.4067
1,2020-10-21T00:00:00.000Z,0.77,1.45,1.12,0.94,1.29,0.241,4,41.5549,-8.4067
2,2020-11-05T00:00:00.000Z,0.27,3.40,1.00,0.77,1.55,0.621,91,41.5549,-8.4067
3,2020-11-06T00:00:00.000Z,0.10,15.40,3.50,0.56,5.45,2.784,329,41.5549,-8.4067
4,2020-11-07T00:00:00.000Z,0.40,6.67,2.00,1.17,3.13,1.361,382,41.5549,-8.4067

In [39]:
# Select only the columns we need

df_updated = df_pm10[['date', 'latitude', 'longitude', 'median']]

df_updated.columns = ['date', 'latitude', 'longitude', 'pm10']

df_updated.head()

df_updated.to_csv('datasets/braga_data_pm10_complete.csv', index=False)

df_updated = df_pm25[['date', 'latitude', 'longitude', 'median']]

df_updated.columns = ['date', 'latitude', 'longitude', 'pm25']

df_updated.head()

df_updated.to_csv('datasets/braga_data_pm25_complete.csv', index=False)

In [42]:
# Merge the two datasets into one

df_pm10 = pd.read_csv('datasets/braga_data_pm10_complete.csv')
df_pm25 = pd.read_csv('datasets/braga_data_pm25_complete.csv')

df_merged = pd.merge(df_pm10, df_pm25, on=['date', 'latitude', 'longitude'])

df_merged.head()

df_merged.to_csv('datasets/braga_41.5549_-8.4067.csv', index=False)

## Tratamento dados Ponte de Lima

In [49]:
df_pm1 = pd.read_csv('datasets/ponte_lima_data_pm1.csv')
df_pm10 = pd.read_csv('datasets/ponte_lima_data_pm10.csv')
df_pm25 = pd.read_csv('datasets/ponte_lima_data_pm25.csv')

# Add latitude and longitude columns

# Select only the columns we need

df_pm1 = df_pm1[['date', 'median']]
df_pm10 = df_pm10[['date', 'median']]
df_pm25 = df_pm25[['date', 'median']]

# Rename the columns

df_pm1.columns = ['date', 'pm1']
df_pm10.columns = ['date', 'pm10']
df_pm25.columns = ['date', 'pm25']

# Add latitude and longitude columns

df_pm1['latitude'] = 41.653315
df_pm1['longitude'] = -8.587790

df_pm10['latitude'] = 41.653315
df_pm10['longitude'] = -8.587790

df_pm25['latitude'] = 41.653315
df_pm25['longitude'] = -8.587790

# Merge the three datasets into one

df_merged = pd.merge(df_pm1, df_pm10, on=['date', 'latitude', 'longitude'])
df_merged = pd.merge(df_merged, df_pm25, on=['date', 'latitude', 'longitude'])

df_merged.head()

df_merged.to_csv('datasets/ponte_lima_41.7675_-8.5823.csv', index=False)

## Tratamento de dados Vila Verde

In [55]:
df1 = pd.read_csv('datasets/datavilaverdepm1.csv')
df2 = pd.read_csv('datasets/datavilaverdepm25.csv')

# Select only the columns we need

df1 = df1[['date', 'median']]
df2 = df2[['date', 'median']]

# Rename the columns

df1.columns = ['date', 'pm1']
df2.columns = ['date', 'pm25']

# Add latitude and longitude columns

df1['latitude'] = 41.650791
df1['longitude'] = -8.435690


df2['latitude'] = 41.650791
df2['longitude'] = -8.435690

# Merge the two datasets into one

df_merged = pd.merge(df1, df2, on=['date', 'latitude', 'longitude'])

df_merged.head()

df_merged.to_csv('datasets/vila_verde_41.650791_-8.435690.csv', index=False)

In [71]:
# Change the dataset to have a column called parameter and have pm1, pm10 and pm25 as values and its value in another column

df = pd.read_csv('datasets/datasetsfinal/braga_41.5549_-8.4067.csv')

df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')

df.to_csv('datasets/datasetsfinal/teste1.csv', index=False)

df = pd.read_csv('datasets/datasetsfinal/ponte_lima_41.7675_-8.5823.csv')

df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')

df.to_csv('datasets/datasetsfinal/teste2.csv', index=False)

df = pd.read_csv('datasets/datasetsfinal/vila_verde_41.650791_-8.435690.csv')

df = df.melt(id_vars=['date', 'latitude', 'longitude'], var_name='parameter', value_name='value')

df.to_csv('datasets/datasetsfinal/teste3.csv', index=False)

df = pd.read_csv('datasets/datasetsfinal/teste1.csv')

df = df.append(pd.read_csv('datasets/datasetsfinal/teste2.csv'))

df = df.append(pd.read_csv('datasets/datasetsfinal/teste3.csv'))

df.to_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv', index=False)

df = pd.read_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv')

df.head()

# Put the df into a csv

df.to_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv', index=False)

## Tratamento Dataset Braga v2.

In [69]:
# Read the dataset from the file

df_braga = pd.read_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv')

# Select only the columns we need

df_braga = df_braga[['utc', 'parameter', 'value', 'longitude', 'latitude']]

# Rename the columns

df_braga.columns = ['date', 'parameter', 'value', 'longitude', 'latitude']

# Change the date format

df_braga['date'] = pd.to_datetime(df_braga['date'])

df_braga.head()

# Put the df into a csv

df_braga.to_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv', index=False)

KeyError: "['utc'] not in index"

# Merge Datasets

In [77]:
# Merge the datasets

df_braga = pd.read_csv('datasets/datasetsfinal/braga_41.449722_-8.296389.csv')

df_total = pd.read_csv('datasets/datasetsfinal/braga_ponte_lima_vila_verde.csv')

df_final = df_total.append(df_braga)

df_final.head()

df_final.to_csv('datasets/datasetsfinal/FINAL.csv', index=False)

In [9]:
import random

df_meteo = pd.read_csv('datasets/datasetsfinal/Bragatempo.csv')

# Select only the columns we need

df_meteo = df_meteo[['datetime', 'tempmax', 'tempmin', 'temp', 'feelslike', 'dew', 'humidity', 'severerisk', 'precip', 'snow', 'windspeed', 'sealevelpressure' ,'cloudcover' , 'visibility' , 'solarradiation' , 'solarenergy' ,'uvindex' ]]

# Rename the column datetime to date

df_meteo.columns = ['date', 'tempmax', 'tempmin', 'temp', 'feelslike', 'dew', 'humidity', 'severerisk', 'precip', 'snow', 'windspeed', 'sealevelpressure' ,'cloudcover' , 'visibility' , 'solarradiation' , 'solarenergy' ,'uvindex' ]

# Add the latitude and longitude columns and fill them with the values randomized from the pair of coordinates [41.5549,-8.4067], [41.653315,-8.58779], [41.449721999999994,-8.296389], [41.650791,-8.43569]

coordinates = [[41.5549, -8.4067], [41.653315, -8.58779], [41.449721999999994, -8.296389], [41.650791, -8.43569]]

df_meteo['latitude'] = [random.choice(coordinates)[0] for _ in range(len(df_meteo))]
df_meteo['longitude'] = [random.choice(coordinates)[1] for _ in range(len(df_meteo))]

df_meteo.head()

df_meteo.to_csv('datasets/datasetsfinal/meteo.csv', index=False)

In [23]:
# Merge the dataset braga_ponte_lima_vila_verde.csv with the dataset meteo.csv

df_meteo = pd.read_csv('datasets/datasetsfinal/meteo.csv')

df_total = pd.read_csv('datasets/FINALDATASET.csv')

dates1 = set(df_meteo['date'])
dates2 = set(df_total['date'])

# Find the common dates
common_dates = dates1.intersection(dates2)

# Filter the datasets by the common dates

df_meteo = df_meteo[df_meteo['date'].isin(common_dates)]
df_total = df_total[df_total['date'].isin(common_dates)]

# Merge the datasets

df_final = pd.merge(df_total, df_meteo, on=['date', 'latitude', 'longitude'])

df_final.head()

df_final.shape

df_final.to_csv('datasets/datasetsfinal/FINALDATASETmerged.csv', index=False)